<fieldset>
   <legend>
 	   <%=@user.user_profile.try(:first_name)%>
   </legend>
   <%= image_tag(@user.user_profile.avatar.url(:thumb)) unless @user.user_profile.avatar.blank? %><br/>  
   <p>Thesis Statment of <%=@user.user_profile.try(:first_name)%> :<%=@user_discussion.updated_at.strftime('%m/%d/%y')%></p>


   <p><%= text_area_tag  @user_discussion.try(:thesis) ,@user_discussion.try(:thesis) ,:readonly => true%></p>

   <p>Arguments of <%=@user.user_profile.try(:first_name)%>: <%=@user_discussion.updated_at.strftime('%m/%d/%y')%></p>

   <p><%=text_area_tag @user_discussion.try(:argument),@user_discussion.try(:argument) ,:readonly => true%></p>

   <div id="comments_partial">
      <% unless !@comment.blank? %>
         <%= render :partial => "comments/new" %>
      <%else%>
         <%= render :partial => "comments/edit" %>
      <% end %>
   </div>
<br/>

