<fieldset>
   <legend>
 	   <%=@user.user_profile.try(:first_name)%>
   </legend>
   <%= image_tag(@user.user_profile.avatar.url(:thumb)) unless @user.user_profile.avatar.blank? %><br/>  
   <p>Thesis Statment of <%=@user.user_profile.try(:first_name)%> :<%=@user_discussion.updated_at.strftime('%m/%d/%y')%></p>

   <p><%= text_area_tag  @user_discussion.try(:thesis) ,@user_discussion.try(:thesis) ,:readonly => true%></p>

   <p>Arguments of <%=@user.user_profile.try(:first_name)%>: <%=@user_discussion.updated_at.strftime('%m/%d/%y')%></p>

   <p><%=text_area_tag @user_discussion.try(:argument),@user_discussion.try(:argument) ,:readonly => true%></p>


  <% @user_discussion.comments.build %>

   <%= form_for @user_discussion ,:url=>comments_path ,:method=>:post do |f| %>
		   <p> Enter the Comment	</p>	
			<%= f.fields_for :comments do |c| %>
			  <%= c.hidden_field :user_discussion_id ,:value=>f.object.id %>
			 <p><%= c.text_area :comments , :size => "35x4"%></p>
			 <p><%= f.submit  "Save Changes"%></p>
	    <% end %>
  <% end %>
<br/>

<p>Commets of member when user click <%=link_to "View","javascript:void(0);",:id=>"view_click"%></p>
<ul id="comments">
  <% unless @user_comments.first.user.nil?%>
     <% @user_comments.each do |comment|  %>
          <%if !comment.user.nil?%>
            <li><%=comment.comments%>:Commented by <%=comment.user.user_profile.try(:first_name) %>
              <% if can? :update, comment %>
                <%=link_to "Edit",edit_comment_path(comment) ,:remote => true %>
              <%end%>
              <div id="commentid_<%=comment.id%>"></div>
            </li>
          <%end%> 
      <%end%>
  <% else %>
     <h4>Not fonud Comment</h4>
  <%end%>
</ul>


 </fieldset>
<script>
	$(document).ready(function(){
		$('#view_click').click(function(e){
			 e.preventDefault()
			 $('#comments').toggle('slow')
		})
	})


</script>


