</br>
<br/>
<%= link_to 'View comments', comments_discussion_path(@discussion) %></br> 
 <%= form_for @discussion do |f| %>
<p>
        Thesis Statment
</p>
<p><%= f.submit  "Save Chanages"%></p>
<p> <%= f.text_area :thesis , :size => "35x4"%></p>
<p>
        Arguments
</p>
<p><%= f.submit  "Save Chanages"%></p>
<p><%= f.text_area :argument , :size => "35x4"%></p>

<% end %>