<% unless @discussion.nil?  %>
 <h1>  <%= @discussion.name.capitalize %> Discussion Members Table for <%= @user_profile.first_name %> </h1>
  <table border='1'>
	  <tr>
		  <th>First Name</th>
		  <th>Location</th>
	    <th>Date Last Change</th>
	    <th>Thesis</th>
	  </tr>
      <% unless @user_discussions.blank? %>
	    <% @user_discussions.each do |user| %> 
	  <tr>
		 <td><%=user.user_profile.try(:first_name)%></td>
		 <td><%= user.user_profile.try(:city) %></td>
		 <td><%= user.user_profile.updated_at %></td>
		 <td><%= link_to 'view',show_user_discussion_path(@discussion,{:user_id=>user.id}) ,:remote => true, :id=>"#ajax_trigger_view" %></td>
	  </tr>
<% end %>	
<% else %>
    <tr>
	    <td colspan="4" align="center"> No one has joined</td>
    </tr>
<% end %>
</table>
<%end%>
    <%= link_to 'Make a Declarations and Vote',new_discussion_vote_path(@discussion)%></br>
	<%= link_to 'Representive Vote',representive_list_discussion_path(@discussion)%></br>
	<%= link_to "logout" , destroy_user_session_path ,:method => :delete %>
	<br><br/>

   <div id="cid"></div>
 <script>
$(document).ready(
     function(){
          $("#ajax_trigger_view").bind("ajax:success",
                   function(evt, data, status, xhr){
                      //this assumes the action returns an HTML snippet
                        $("div#cid").html(data);
           }).bind("ajax:error", function(evt, data, status, xhr){
                    //do something with the error here
                    $("div#errors p").text(data);
           });
});

</script>
<style>
#comments{
	display:none;
}
</style>
