<h1><%=current_user.user_profile.try(:first_name)%> Discussions Table</h1>

<table border='1'>
  <tr>
    <th>Name</th>
    <th>Determination</th>
    <th>Location</th>
    <th>Number in Forum </th>
    <th>My Thesis</th>
    <th>Withdraw</th>
  </tr>
<% unless @discussions.blank? %>
<% @discussions.each do |discussion| %>
  <tr>
    <td><%= discussion.name %></td>
    <td><%= discussion.determination %></td>
    <td><%= discussion.try(:user).try(:user_profile).try(:city) %> </td>
    <td><%= discussion.joined_user.size %></td>
    <td><%= link_to 'select', view_discussion_discussion_path(discussion) ,:remote => true, :id=>"#ajax_trigger_view" %></td>
    <td><%= link_to 'Delete',destroy_user_discussion_discussion_path(discussion),:method => :delete,:confirm => 'Are you sure?'%></td>

  </tr>
<% end %>
<% else %>
<tr>
  <td colspan="6" align="center"> No discussion are joined</td>
</tr>
<% end %>
</table>

<br/>



<%= link_to 'Add Discussion', new_discussion_path %><br/>
<%= link_to "logout" , destroy_user_session_path ,:method => :delete %>


<div id="cid"></div>

<script>
$(document).ready(
     function(){
          $("#ajax_trigger_view").bind("ajax:success",
                   function(evt, data, status, xhr){
                      //this assumes the action returns an HTML snippet
                        $("div#cid").html(data);
           }).bind("ajax:error", function(evt, data, status, xhr){
                    //do something with the error here
                    $("div#errors p").text(data);
           });
});

</script>