<h2>Repersentative Vote For <%=@discussion.try(:name)%>- <%= @discussion.user.user_profile.try(:city)%> </h2>
<%= form_for @user_discussion_votes,:method=>'post' ,:url=> post_user_vote_discussion_votes_path(@discussion) do |f| %>
  <table>
    <% @user_discussions.each do |user| %>
 <tr> 
    <td>
      <h3><%=user.user_profile.try(:first_name)%></td>
      <% if UserDiscussionVote.find_by_voter_id_and_discussion_id(current_user.id,params[:id]).present?

          check1 = UserDiscussionVote.find_by_voter_id_and_discussion_id(current_user.id,params[:id]).user_discussion.user.user_profile.first_name == user.user_profile.first_name
         else
          check1 = false

         end
        %>
     <td><%=radio_button_tag :user_discussion_id, UserDiscussion.find_by_discussion_id_and_user_id(@discussion.id,user.id).id  ,check1  %></td>
     <td></td>
     <td>   <%= UserDiscussion.find_by_discussion_id_and_user_id(@discussion.id,user.id).user_discussion_votes.count %></td>
      
   
 </tr> 
  <% end %> 
 

<tr>
 <td colspan='2'><h3>Total</h3></td>
 <td> <%= @discussion.user_discussion_votes.count %></td>
<td></td></tr>
 <td><%= f.submit "save vote" %></td>
 </table>
<%end %>

<%= link_to "Back",comments_discussion_path%></br>


<script>


  $("#save_post").click(function(e){
    alert(1);
      e.preventDefault();
      $(".edit_discussion").submit();
  })
 

</script>


 
</script>