<h2>Repersentive Vote For <%=@discussion.try(:name)%> - <span id="city_name"></span> </h2>

  <table>
    <% @user_discussions.each do |user| %>
  <tr> 
  	<td>
  <h3><%=user.user_profile.try(:first_name)%></td>
   <td><%= radio_button_tag :first_name, user.id ,false,:class=>'fname'%> </h3></td>
   </tr> 
  <% end %>	
 </table>
<script>


$(".fname").change(function(){
	  $.ajax({
			url: "<%= show_city_discussion_path(@discussion) %>",
			data:{ user_id:$(this).val() }
			
	  })
})
</script>
<td><%= link_to "Save Vote"%> </h3></td></br>
<%= link_to "Back",comments_discussion_path%></br>