<p id="notice"><%= notice %></p>

<p>
  <b>Thesis:</b>
  <%= @discussion.thesis %>
</p>

<p>
  <b>Argument:</b>
  <%= @discussion.argument %>
</p>




<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
