
<%=link_to "Return to My List",comments_discussion_path(@discussion)%></br></br>
<%= image_tag @user_profile.avatar.url(:thumb) %>
<%=@user_profile.first_name%>


 <br/>
<%= form_for @discussion do |f| %>
<p>
	Thesis Statment:<%=@discussion.updated_at.strftime('%m/%d/%y')%>
</p>
<p> <p><%= f.text_area :argument , :size => "35x4",:value=> "#{@discussion.thesis}" %></p>
<p>
	Arguments: <%=@discussion.updated_at.strftime('%m/%d/%y')%>
</p>
<p><%= f.text_area :argument , :size => "35x4",:value=> "#{@discussion.argument}" %></p></p>
<% end %>


<%= form_for  @discussion.comments.build do |f| %>

<p>
	Enter the Comment
</p>
<p><%= f.submit  "Save Changes"%></p>
<p><%= f.text_area :comments , :size => "35x4"%></p>
<% end %>
