<%= form_for @userprofile, :html => { :multipart => true } do |f| %>
  <% if @userprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userprofile.errors.count, "error") %> prohibited this userprofile from being saved:</h2>

      <ul>
      <% @userprofile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :physical_address %><br />
    <%= f.text_field :physical_address %>
  </div>
  <div class="field">
    <%= f.label :unit_no %><br />
    <%= f.number_field :unit_no %>
  </div>
  <div class="field">
    <%= f.label :postal_zip_code %><br />
    <%= f.number_field :postal_zip_code %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
