
<p id="notice"></p>
<p> Participant Profile </p>

<table border="1">


<tr>
  <td>User ID:</td>
  <td><%= @user_profile.user.id %></td>
</tr>
<tr>
  <td>Email:</td>
  <td><%= @user_profile.user.email %></td>
</tr>
<tr>
  <td>First name:</td>
  <td><%= @user_profile.first_name %></td>

</tr>

<tr>
  <td>Last name:</td>
  <td><%= @user_profile.last_name %></td>
</tr>

<tr>
  <td>Physical address:</td>
  <td><%= @user_profile.physical_address %></td>
</tr>

<tr>
  <td>Unit no:</td>
  <td><%= @user_profile.unit_no %></td
</tr>

<tr>
  <td>Postal zip code:</td>
  <td><%= @user_profile.postal_zip_code %></td>
</tr>

<tr>
  <td>City:</td>
  <td><%= @user_profile.city %></tr>
</tr>

<tr>
  <td>County:</td>
  <td><%= @user_profile.county %></td>
</tr>

<tr>
  <td>State:</td>
  <td><%= @user_profile.state %></td>
</tr>
<tr>
  <td>Country:</td>
  <td><%= @user_profile.country %></td>
</tr>
<tr>
  <td>Personal Photo</td>
  <td></td>
   </tr>

<tr>
  <td>Latitude:</td>
  <td><%= @user_profile.latitude %></td>
</td>

<tr>
  <td>Longitude:</td>
  <td><%= @user_profile.longitude %></td>
</tr>

</table>

<%= link_to 'Edit Profile', edit_user_profile_path(@user_profile) %><br/>
<br/>
<%= link_to 'Go to the User Discussion Table',discussions_path%><br/>

<%= link_to "logout" , destroy_user_session_path ,:method => :delete %>

<p><%= image_tag @user_profile.avatar.url(:thumb) %>

<%= @user_profile.first_name %></p>
<!-- <p>Add or Change the photo</p> -->
<% form_for @user_profile, :html => { :multipart => true } do |f| %>

<div class="field">
    
    <%= f.file_field :avatar %>
  </div>
   <div class="actions">
    <%= f.submit "save photo" %>
  </div>
 <% end %> 


