<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  

  
  <div><%= f.submit "Sign in" %></div>
  <h3>This is a closed site under development. If you would like to</br>
participate in the design of this Virtual Republic please contact</br>
<h3><%= mail_to "sd@samuel-dael.com" ,  "sd@samuel-dael.com
",:class => "email"%></h3> 
</h3>
<% end %>


